{% load static bootstrap5 %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Instagram With 2023 Project</title>
    <link rel="stylesheet" href="{% static "bootstrap-5.2.3-dist/css/bootstrap.min.css" %}">
    <script src="{% static "jquery-3.6.1.min.js" %}"></script>
    <script src="{% static "jquery.form-4.3.0.min.js" %}"></script>
    <script src="https://kit.fontawesome.com/a6cbf64ff7.js" crossorigin="anonymous"></script>
</head>
{% bootstrap_messages %}
<div class="border-bottom mb-3">
    <div class="container">
        <div class="col-sm-12">
            <div class="d-flex flex-column flex-md-row align-items-center mt-3 pb-3  ">
                <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
                    <img src="{% static 'instagram_logo.png' %}" alt="instagram" width="100px">
                </a>


                <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
                    {% if user.is_authenticated %}
                        <a class="me-3 py-2 text-dark text-decoration-none"
                           href="{% url 'accounts:logout' %}">Logout</a>
                        <a class="me-3 py-2 text-dark text-decoration-none"
                           href="{% url 'instagram:user_page' user.username %}">
                            <img class="rounded-circle" src="{{ user.avatar_url }}" alt="None" width="24px;">
                            {{ user.username }}
                        </a>
                    {% else %}
                        <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'accounts:login' %}">Login</a>
                        <a class="me-3 py-2 text-dark text-decoration-none"
                           href="{% url 'accounts:signup' %}">Signup</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </div>
</div>



{% block content %}
{% endblock content %}
<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="24" height="19">
            <small class="d-block mb-3 text-muted">© 2017–2022</small>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none"
                                    href="{% url 'accounts:login' %}">Login</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</footer>